<app-search (update)="nameShow = $event"></app-search>
<app-show-detail [selectedShow]="selectedShow"></app-show-detail>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" 
    *ngFor="let show of shows | name:nameShow | 
    paginate: { itemsPerPage: 12, currentPage: page } as result">
    {{result.length}}
    <app-show [show]="show" (update)="detailShow($event)"></app-show>
</div>
<div class="pagination-block" >
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
