.content-login {
    width: 400px;
    height: 395px;
    text-align: center;
    margin: 8% auto;
}

.header {
    padding-bottom: 20px;
    padding-top: 20px;
}

.form-custom {
    margin-top: 50px;
}

.login-button {
    margin-top: 25px;
}

.create-user {
    margin-top: 10px;
    color: #3f51b5;
}